# Copy to .env (which is git-ignored) and edit.
SIMULATE_HARDWARE=false
REQUIRE_CONFIRMED_EMAIL=true

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=no-reply@example.com

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

ALLOWED_HOSTS=*
